*.root
test.txt
testlabr14.txt
logs/
labr.txt
labr_hists.C
gaballah@nsclgw1.nscl.msu.edu
fit_click_tawfik.C
extract_hist.C
FESort_Output.txt
labr3.txt
ExcelCal10825.cal
dump.out
directories
directories.txt
clover_hists.C
clarion.eu152.cal
clarion_eu152d.cal
clarion_eu152f.cal
clarion.co60.cal
clarion_0622.cal
clar_ct.cal
calebrated.txt
AutoCal_Gaballah.C
152Eu_ON_a-013.evt.to.to
*~
*#